html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  > nav {
    a {
      color: black;
    }
    grid-row: 1;
    grid-column: 1;
    z-index: 1000;
    background-color: rgb(184, 184, 184, 0.5);
  }
  > div.body {
    grid-column: 1;
    grid-row: 1 / -1; 
  }
  > div.body:has(> form) {
    grid-row: 2;
  }
}
