:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr var(--panel-high);
  > *:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  > div.toggle[show=events]:nth-child(2) {
    stop-list {
      display: none;
    }
    > button {
      > span::after {
        font-size: 2em;
        content: "+"
      }
    }
  }
  > div.toggle[show=stops]:nth-child(2) {
    event-list {
      display: none;
    }
    > button {
      > span::after {
        font-size: 3em;
        content: "⇠"
      }
    }
  }
  > div.toggle:nth-child(2) {
    overflow-y: scroll;
    grid-column: 1;
    grid-row: 2;
    > button {
      width: 50px;
      height: 50px;
      z-index: 100000;
      cursor: pointer;
      border-radius: 50px;
      left: var(--gap-small);
      bottom: calc(var(--panel-high)*1.25);
      background-color: hwb(var(--light-action));
      border: var(--main-dark-border);
      box-shadow: var(--box-shadow);
      position: absolute;
      color: black;
      > span {
        font-weight: var(--button-weight);
      }
    }
  }
  > *:nth-child(3) {
    grid-column: 1;
    grid-row: 1/-1;
  }
}
