{% extends "bostocracy/layout.html" %}
{% load static %}

{% block title %}
BOS
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
      <page-root></page-root>
    {% else %}
      <page-root></page-root>
    {% endif %}

    <template id="layer-map-view">
      <div id='map'></div>
    </template>
    <template id="page-root-view">
      <layer-map></layer-map>
      <stop-list ids="" ></stop-list>
      <event-modal class="hide" stop_key="" ></event-modal>
    </template>
    <template id="event-modal-view">
      <div></div>
      <div></div>
      <button>X</button>
    </template>

{% endblock %}

{% block script %}
    <script type="importmap">
      {
        "imports": {
          "api": "{% static 'bostocracy/api.js' %}",
          "color": "{% static 'bostocracy/color.js' %}",
          "index": "{% static 'bostocracy/index.js' %}",
          "angles": "{% static 'bostocracy/angles.js' %}",
          "constants": "{% static 'bostocracy/constants.js' %}",
          "page-root": "{% static 'bostocracy/page-root.js' %}",
          "event-modal": "{% static 'bostocracy/event-modal.js' %}",
          "stop-list": "{% static 'bostocracy/stop-list.js' %}",
          "layer-map": "{% static 'bostocracy/layer-map.js' %}",
          "style-global": "{% static 'bostocracy/global.css' %}",
          "style-page-root": "{% static 'bostocracy/page-root.css' %}",
          "style-event-modal": "{% static 'bostocracy/event-modal.css' %}",
          "style-stop-list": "{% static 'bostocracy/stop-list.css' %}",
          "style-layer-map": "{% static 'bostocracy/layer-map.css' %}",
          "layer-changes": "{% static 'bostocracy/layer-changes.js' %}",
          "config-layer-map": "{% static 'bostocracy/config-layer-map.js' %}",
          "L": "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js",
          "style-leaflet": "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css",
          "esri-leaflet": "https://unpkg.com/esri-leaflet@3.0.12/dist/esri-leaflet.js"
        },
        "integrity": {
          "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js": "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=",
          "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css": "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        }
      }
    </script>
    <script type="module">
      import { index } from 'index';
      index({
        username: "{{ user.username }}"
      });
    </script>
{% endblock %}
